body{
    background-color: #131313d8 !important;
}
.container-fluid{
    padding-left: 40px !important;
    padding-top: 40px !important;
}
.menu{
    height: 275px; 
    background: #131313;
    border-radius: 15px;
}
.filters  { 
  margin-top: 12%;
  margin-left: 5% ;
}
.hr1{
    margin-left: 5%;
    margin-top: 6%;
    border: 1px solid #CBCBCB;
    width: 86%;
}

.dropdown{
    margin-left: 5%;
    margin-top: 5%;
    width: 86%;
 }
.dropdown button {
    text-align: left;
    width: 100% !important;
}

#list-one {
    height: 190px;
    margin-left: 10px;
    background: #131313;
    border-radius: 15px;
     justify-content:space-around; 
    flex-wrap: wrap; 
    width: 95%;
    overflow: auto;
    white-space: nowrap;

}

.list-two{
    height: 190px;
    margin-left: 10px;
    margin-top: 35px;
    background: #131313;
    border-radius: 15px;
    width: 95%;
}
.hr2{
margin-left: 10px;
border: 1px solid rgba(203, 203, 203, 0.5);
width: 95%;
}


#list-one .one {
background-color: #232323;
border-radius: 4.68775px;
width: 30%;
height: 80%;
position: relative; 
/* overflow: hidden;  */
 box-sizing: border-box; 
 /* justify-content:flex-start; */
 /* align-content: center; */

}
.holder{
    overflow: hidden;
    /* border: 3px red solid; */
    background-color: aqua;
    width: 210px;
    height: 150px;

    margin: auto;
}
.holder .top  .img {
   width: 50px;
   height: 65px;
   /* border: 3px blue solid; */
   background-color: red;
   margin-left: 30px;
   margin-top: 15px;
}
.holder .bottom {
    margin-left: 16px;
} 
.location{
    margin-left: 30px;
}
.date{
    margin-left: 30px;
}